@theme {
  --animate-fade-in: fade-in 0.25s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@theme {
  --animate-fade-out: fade-out 0.25s ease-in-out;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
