@import "mac-scrollbar/dist/mac-scrollbar.css";

@theme {
  --scroll-track-gutter: 2px;
  --scroll-box-padding-offset: 2px;

  --preset-scroll-thumb-sm: 1 * 1.5;
  --preset-scroll-thumb-md: 2 * 1.5;
  --preset-scroll-thumb-lg: 3 * 1.5;
}

@utility scroll-thumb-* {
  padding: calc(
    var(--spacing) * --value(--preset-scroll-thumb-\*) + var(--scroll-track-gutter) * 2 +
      var(--scroll-box-padding-offset)
  );

  .ms-track {
    &.ms-y {
      width: calc(
        var(--spacing) * --value(--preset-scroll-thumb-\*) + var(--scroll-track-gutter) * 2
      );

      &.ms-active,
      &:hover {
        .ms-thumb {
          width: calc(var(--spacing) * --value(--preset-scroll-thumb-\*));
        }
      }

      .ms-thumb {
        right: var(--scroll-track-gutter);
        width: calc(var(--spacing) * --value(--preset-scroll-thumb-\*) / 1.5);

        &:hover {
          width: calc(var(--spacing) * --value(--preset-scroll-thumb-\*));
        }

        &:after {
          right: calc(var(--scroll-track-gutter) * -1);
          width: calc(
            var(--spacing) * --value(--preset-scroll-thumb-\*) + var(--scroll-track-gutter) * 2
          );
        }
      }
    }

    &.ms-x {
      height: calc(
        var(--spacing) * --value(--preset-scroll-thumb-\*) + var(--scroll-track-gutter) * 2
      );

      &.ms-active,
      &:hover {
        .ms-thumb {
          height: calc(var(--spacing) * --value(--preset-scroll-thumb-\*));
        }
      }

      .ms-thumb {
        bottom: var(--scroll-track-gutter);
        height: calc(var(--spacing) * --value(--preset-scroll-thumb-\*) / 1.5);

        &:hover {
          height: calc(var(--spacing) * --value(--preset-scroll-thumb-\*));
        }

        &:after {
          bottom: calc(var(--scroll-track-gutter) * -1);
          height: calc(
            var(--spacing) * --value(--preset-scroll-thumb-\*) + var(--scroll-track-gutter) * 2
          );
        }
      }
    }
  }
}

@utility scroll-thumb-bg-* {
  .ms-track {
    .ms-thumb {
      background-color: --value(--color-\*, [color]);
    }
  }
}

@utility scroll-track-hover-bg-* {
  .ms-track {
    &.ms-active,
    &:hover {
      background-color: --value(--color-\*, [color]);
    }
  }
}

@utility scroll-track-hover-border-* {
  .ms-track {
    &.ms-active,
    &:hover {
      border-color: --value(--color-\*, [color]);
    }
  }
}
