@theme {
  --app-region-drag: drag;
  --app-region-nodrag: no-drag;
  --app-region-no-drag: no-drag;
  --titlebar-x: env(titlebar-area-x, 0);
  --titlebar-y: env(titlebar-area-y, 0);
  --titlebar-w: env(titlebar-area-width, 100%);
  --titlebar-h: env(titlebar-area-height, 30px);
}

/* Electron 窗口拖动 */
@utility app-* {
  -webkit-app-region: --value(--app-region-*);
}
